body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2E2E2E;
  color: #FFFFFF;
}

.div2 {
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  overflow: hidden;
  background-color: #383838;
  height: 50px;
  max-width: 1000px;
  margin: auto;
  padding: 0 20px; /* Add some padding on the sides if needed */
}

@font-face {
  font-family: 'Gg Sans';
  src: local('Gg Sans Medium'), local('Gg-Sans-Medium'),
      url('ggsans-Medium.woff2') format('woff2'),
      url('ggsans-Medium.woff') format('woff'),
      url('ggsans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.message-display {
  font-family: 'Gg Sans', sans-serif; /* Apply the font here */
  width: 80%;
  height: 60%;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 10px;
  margin-top: 0px;
  color: #FFFFFF;
}

.input-area {
  display: none; /* Hidden by default, shown when room is joined */
  align-items: center; /* This ensures vertical alignment */
  width: 80%; /* Use 100% of .div2's width */
  padding: 0; /* Reset padding */
  border-radius: 10px;
}

.message-input {
  flex: 1; /* Grow to remaining space */
  padding: 10px;
  margin: 0; /* Reset margin */
  border-radius: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #f9f9f9;
  color: #000;
  padding: 20px;
  border: 1px solid #ccc;
  display: none;
}

label {
  display: block;
}

input[type="text"], input[type="color"] {
  margin-bottom: 10px;
}

#banner {
  height: 60px;
  background: url(RIZZcord.png); /*Sets the background to be animated gif*/
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between; /*Spaces any elements inside banner to space throughout*/
  align-items: center;
}


/*Styles the navbar*/
nav {
  display: flex;
  justify-content: space-between; /*Spaces the buttons across the bar*/
  overflow: hidden;
  background-color: #333333; /*Sets the navbar colour*/
  height: 50px;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  /*Smooths the bottom of navbar to separate from pages*/
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/*Styles text on navbar*/
nav a {
  display: inline-block;
  justify-content: center;
  color: #f2f2f2;
  font-weight: bold;
  text-align: justify;
  max-width: 1000px;
  max-height: 50px;
  margin: auto;
  /*Makes each button*/
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  background-color: #333;
  text-decoration: none;
  font-size: 24px;
  transition: all 800ms ease-out; /*Smoothes animation when not hovered on*/
}


nav a:hover { /*When the nav buttons are hovered, they will react to the user*/
  background-color: rgb(38, 38, 38); /*Slightly changes the color of the button*/
  border-radius: 15px;
  /*transition: all 200ms;*/
}

.room-code-display {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #FFFFFF;
  font-size: 18px;
}
