body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2E2E2E;
  color: #FFFFFF;
}

.div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #383838;
  height: 50px;
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

@font-face {
  font-family: 'Gg Sans';
  src: local('Gg Sans Medium'), local('Gg-Sans-Medium'),
      url('ggsans-Medium.woff2') format('woff2'),
      url('ggsans-Medium.woff') format('woff'),
      url('ggsans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.message-display {
  font-family: 'Gg Sans', sans-serif;
  width: 80%;
  height: 80%;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 10px;
  margin-top: 0px;
  color: #FFFFFF;
}

.input-area {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 0;
  border-radius: 10px;
}

.share-btn {
  padding: 0;
  margin: 0 10px 0 0;
  background: none;
  border: none;
  cursor: pointer;
  align-self: center;
}

.message-input {
  flex: 1;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

.settings-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  display: none;
}

.room-popup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background: #444;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.room-popup h2 {
  margin-bottom: 10px;
}

.room-input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.room-popup button {
  padding: 10px 20px;
  font-size: 16px;
}

label {
  display: block;
}

input[type="text"], input[type="color"] {
  margin-bottom: 10px;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

#banner {
  height: 60px;
  background: url(RIZZcord.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #333333;
  height: 50px;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

nav a {
  display: inline-block;
  justify-content: center;
  color: #f2f2f2;
  font-weight: bold;
  text-align: justify;
  max-width: 1000px;
  max-height: 50px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5;
  background-color: #333;
  text-decoration: none;
  font-size: 24px;
  transition: all 800ms ease-out;
}

nav a:hover {
  background-color: rgb(38, 38, 38);
  border-radius: 15px;
}

.room-code-display {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
}
